html, body {
    background-color: #eee;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container h2 {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 25px;
    padding: 15px 0;
}

section {
    text-align: center;
}

#services {
    background-color: #333;
    background-image: url('/assets/images/app/form/basic-info.png');
    background-size: cover;
    position: relative;
    z-index: 1;
}

#services-dark {
    background-color:rgba(0,0,0,.3);
    height:100%;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    z-index: 10;
}

#services h1 {
    color: white;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    z-index: 11;put
    font-weight: normal;
    font-size: 42px;
}

#services h2 {
    color: white;
    padding: 0 0 20px 0;
}

#services .input-group {
    width: 100%;
}

#base_info {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 100px;
    padding: 20px 0;
    z-index: 100;
}

/* autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#people-form-container {
    margin: 30px 0;
}

#people-form-container label:not(.custom-radio-label) {
    font-weight: bold;
    color: #555;
}

#people-form-container .form-row {
    margin-bottom: 40px;
}

#people-form-container .form-row:nth-of-type(2n) {
    margin-bottom: 20px;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio input[type="radio"] ~ label {
    display: inline-block;
    color: white;
    background-color: #aaa;
    padding: 2px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: normal;
    font-size: 15px;
    margin-right: 5px;
}

.custom-radio input[type="radio"]:checked + label {
    background-color: #ffb300;
}

.radio-group-row {
    margin-top: -5px;
}

.label-container {
    text-align: left;
}

.section-border-bottom {
    width: 78%;
    height: 2px;
    background-color: #ccc;
    margin: 0 auto;
}

#similar-companies {
    display: none;
}

#similar-companies .list-group li {
    text-align: left;
}

#similar-companies .list-group li .custom-radio-label {
    margin-left: 5px;
}

#show_all_similar, #hide_all_similar {
    font-weight: bold;
}

#hide_all_similar {
    display: none;
}

#rent .input-group {
    width :100%;
}

#rent .form-row {
    margin-bottom: 10px;
}

#rent .form-row:nth-of-type(2n){
    margin-bottom: 30px;
}

#submit-section {
    background-image: url('/assets/images/app/form/rent-info.png');
    background-size: cover;
    height: 200px;
    position: relative;
}

#submit-section .submit-container {
    position: absolute;
    height: 40px;
    width: 200px;

    top: 50%;
    left: 50%;

    margin-top: -20px;
    margin-left: -100px;
}

#submit-section .submit-container button {
    width: 100%;
    height: 100%;
    background-color: #ffb300;
    color: #111;
    font-weight: bold;
    text-transform: none;
    font-size: 18px;
}

#submit-section .submit-container button:hover {

    background-color: #ffa100;
}