html, body {
    height: 100%;
    width: 100%;
    font: 300 14px/1.8 'Segoe WP', 'Roboto', sans-serif;
}

.container, #map {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*#open-params-form {*/
    /*cursor: pointer;*/
    /*border-radius: 100%;*/
    /*background-color: #ccc;*/
    /*border: 1px solid white;*/
    /*color: black;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin: 0 0 0 -25px;*/
/*}*/

#close-params-form {
    cursor: pointer;
}
.panel-menu {
    content: "&";
    background-image: url(/assets/images/app/form/menu.svg?color=gray);
    background-position: 50% 50%;
    background-size: 100% 100%;
    opacity: 1;
    width: 20px;
    height: 100%;
    position: absolute;
}

#orgOn-02{
    content: "";
    background-image: url(/assets/images/app/form/orgOn-02.svg?color=gray);
    background-position: 50% 50%;
    background-size: 100% 100%;
    opacity: 1;
    width: 20px;
    height: 100%;
    position: absolute;
}

#params-form-container {
    visibility: visible;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    overflow: hidden;
    transition: width 0.3s ease-out;
    z-index: 100000;
}

#params-form-container .panel-heading {
    background-color: #fff;
    padding: 17px 0;
    height: 55px;
    border: 1px solid #a2a2a2;
    border-radius: 4px 4px 6px 6px;
}

#params-form-container .panel {
    background-color: rgba(230, 230, 230, 0.87);
    border-bottom: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
}

#params-form-container label {
    color: #000;
}
.noUi-tooltip {
    color: #000;!important;
}

.u-padding-top--30 {
    padding-top: 30px;
}
.u-padding-top--20 {
    padding-top: 20px;
}

#people-form-container {

}

#people-form-container label {
    font-weight: bold;
    color: #555;
}

#people-form-container .form-row {
    margin-top: 40px;
}

#people-form-container input[type="checkbox"] {
    display: none;
}

#people-form-container input[type="checkbox"] ~ label {
    display: inline-block;
    content: "";
    color: white;
    background-position: 50% 50%;
    background-size: 100% 100%;
    padding: 2px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: normal;
    font-size: 15px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

#org {
    background: url("../images/app/form/orgOff-02.svg");
    fill: #535abf;
}

#people {
    background-image: url(/assets/images/app/form/manOff-02.svg);
}

#menu {
    background-image: url(/assets/images/app/form/menu.svg);
    display: inline-block;
    content: "";
    color: white;
    background-position: 50% 50%;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
}

#people-form-container input[type="checkbox"]:checked + label {
    content: "";
    background-position: 50% 50%;
    background-size: 100% 100%;
    width:30px;
    position: absolute;
    fill: #ffb600;
}

.radio-group-row {
    margin-top: -5px;
}
.panel-heading {
    height:40px;
}

#popup_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100001;
}

#map_popup_container {
    display: none;
    position: absolute;
    z-index: 100000;
    width: 350px;
    height: auto;
    background-color: rgba(0,0,0, 0.85);
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -125px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

#map_popup_container .house-info {
    padding: 10px 25px 20px 25px;
}

#map_popup_container .house-info h2 {
    color: #eee;
    margin: 0 auto;
    padding: 0 0 10px 0;
    font-size: 22px;
    font-weight: normal;
    text-transform: none;
    border-bottom: 2px solid #eee;
}

#map_popup_container .house-info .price {
    color: #ffb600;
    font-size: 26px;
    padding: 0 0 5px 0;
}

#map_popup_container .house-info .text-block {
    color: #ccc;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 20px;
}

#map_popup_container .house-info .img-block {
    text-align: center;
}


#map_popup_container .house-info .img-block img {
    display: block;
    max-height: 130px;
    max-width: 220px;
    margin: 0 auto;
}
