<form id="params-form" action="/recalculate" method="POST">
    <div class="form-group">
        <label for="radius">Радиус выделенной области:</label>
        <div id="radius"></div>
        <input type="hidden" name="radius" id="radiusValue" value="">
    </div>

    <div class="row u-padding-top--30">
        <div class="col-md-4">
            <div class="form-group">
                <label>Цена аренды:</label>
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" id="rentMin" class="form-control" name="rent[min]" placeholder="Мин." value="{{ rent['min'] }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" id="rentMax" class="form-control" name="rent[max]" placeholder="Макс." value="{{ rent['max'] }}">
            </div>
        </div>

    </div>
    <div class="border-bottom"></div>
    <div class="row u-padding-top--20">
        <div class="col-md-4">
            <label>Площадь помещения:</label>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" id="areaMin" class="form-control" name="area[min]" placeholder="Мин." value="{{ area['min'] }}">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" id="areaMax" class="form-control" name="area[max]" placeholder="Макс." value="{{ area['max'] }}">
            </div>
        </div>

        <div class="col-md-12 text-center">
            <div class="border-bottom"></div>
            <div class="u-padding-top--20"></div>
            <button type="submit" id="recalculate" class="btn btn-success-map">Расчитать</button>
            <input type="hidden" name="point[lat]" value="{{ params['point']['lat'] }}" id="lat"/>
            <input type="hidden" name="point[lng]" value="{{ params['point']['lng'] }}" id="lng"/>
        </div>

    </div>

    {% for id, house in houses_for_rent %}
        <input type="hidden" class="js-house-for-rent" value="{{ id }}"
               data-lat="{{ house['params']['location']['lat'] }}"
               data-lng="{{ house['params']['location']['lon'] }}" />
    {% endfor %}

    {% for id, similar in similar_info %}
    <input type="hidden" class="js-similar-info" value="{{ id }}"
           data-lat="{{ similar['point']['lat'] }}"
           data-lng="{{ similar['point']['lng'] }}" />
    {% endfor %}
</form>