<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>BizMap - уникальный поиск недвижимости для вашего бизнеса</title>

		<!-- CSS -->
		<link href="{{ base_url() }}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{ base_url() }}assets/css/font-awesome.min.css" rel="stylesheet" media="screen">
		<link href="{{ base_url() }}assets/css/simple-line-icons.css" rel="stylesheet" media="screen">
		<link href="{{ base_url() }}assets/css/animate.css" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<!-- Custom styles CSS -->
		<link href="{{ base_url() }}assets/css/style.css" rel="stylesheet" media="screen">

		<script src="{{ base_url() }}assets/js/modernizr.custom.js"></script>
    {% endblock %}
</head>
<body>
	{% block header %}
		<!-- Preloader -->

		<div id="preloader">
			<div id="status"></div>
		</div>

		<!-- Home start -->

		<section id="home" class="pfblock-image screen-height">
			<div class="home-overlay"></div>
			<div class="intro">
				<div class="start">Hello, my name is John Doe and I am</div>
				<h1>Full Stack Web Developer</h1>
				<div class="start">creating modern and responsive Web Application</div>
			</div>

			<a href="#services">
			<div class="scroll-down">
				<span>
					<i class="fa fa-angle-down fa-2x"></i>
				</span>
			</div>
			</a>

		</section>

		<!-- Home end -->

		<!-- Navigation start -->

		<header class="header">

			<nav class="navbar navbar-custom" role="navigation">

				<div class="container">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index.html">John Doe</a>
					</div>

					<div class="collapse navbar-collapse" id="custom-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#home">Home</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#portfolio">Works</a></li>
							<li><a href="#skills">Skills</a></li>
							<li><a href="#testimonials">Testimonials</a></li>
							<li><a href="#contact">Contact</a></li>
						</ul>
					</div>

				</div><!-- .container -->

			</nav>

		</header>
	<!-- Navigation end -->
	{% endblock %}

	<div class="container">
		{% block content %}{% endblock %}
	</div>

	{% block footer %}
		<footer id="footer">
			<div class="container">
				<div class="row">

					<div class="col-sm-12">

						<ul class="social-links">
							<li><a href="index.html#" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
							<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".1s"><i class="fa fa-twitter"></i></a></li>
							<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-pinterest"></i></a></li>
							<li><a href="index.html#" class="wow fadeInUp" data-wow-delay=".5s"><i class="fa fa-envelope"></i></a></li>
						</ul>

						<p class="heart">
							Made with <span class="fa fa-heart fa-2x animated pulse"></span> in Nottingham
						</p>
						<p class="copyright">
							© 2015 John Doe | Images: <a href="https://unsplash.com/">Unsplash</a> & <a href="http://zoomwalls.com/">Zoomwalls</a>
						</p>

					</div>

				</div><!-- .row -->
			</div><!-- .container -->
		</footer>

		<!-- Scroll to top -->
		<div class="scroll-up">
			<a href="#home"><i class="fa fa-angle-up"></i></a>
		</div>
		<!-- Scroll to top end-->
	{% endblock %}

	{% block js %}
		<script src="{{ base_url() }}assets/js/jquery-1.11.1.min.js"></script>
		<script src="{{ base_url() }}assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="{{ base_url() }}assets/js/jquery.parallax-1.1.3.js"></script>
		<script src="{{ base_url() }}assets/js/imagesloaded.pkgd.js"></script>
		<script src="{{ base_url() }}assets/js/jquery.sticky.js"></script>
		<script src="{{ base_url() }}assets/js/smoothscroll.js"></script>
		<script src="{{ base_url() }}assets/js/wow.min.js"></script>
		<script src="{{ base_url() }}assets/js/jquery.easypiechart.js"></script>
		<script src="{{ base_url() }}assets/js/waypoints.min.js"></script>
		<script src="{{ base_url() }}assets/js/jquery.cbpQTRotator.js"></script>
		<script src="{{ base_url() }}assets/js/custom.js"></script>
	{% endblock %}
</body>
</html>