{% extends "base.html" %}

{% block head %}
{{ parent() }}
    <link href="{{ base_url() }}assets/css/datalist/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css">
    <link href="{{ base_url() }}assets/css/app/form.css" rel="stylesheet" type="text/css">
<link href="{{ base_url() }}assets/css/nouislider.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <form action="/formSubmit" class="form-search" method="POST">
        <section id="services">
            <div id="services-dark"></div>
            <img src="{{ base_url() }}assets/images/logo.png" class="logo"/>
            <div id="base_info">
                <h2>Компания</h2>
                <div class="col-md-10 col-md-offset-1">
                    <div class="col-md-4">
                        <div class="input-group input-group-lg">
                            <input type="text" name="city" id="city" class="form-control" placeholder="Город" value="Новосибирск">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control"
                                   placeholder="Название компании"
                                   name="company[name]"
                                   id="company_name" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" name="company[rubric]"
                                   id="company_rubric"
                                   placeholder="Вид деятельности">
                        </div>
                    </div>

                    <input type="hidden" name="company[id]" id="company_id" value="" />
                    <input type="hidden" name="company[firm_group_id]" id="company_firm_group_id" value="" />
                    <input type="hidden" name="company[hash]" id="company_hash" value="" />
                    <input type="hidden" name="company[lat]" id="company_lat" value="" />
                    <input type="hidden" name="company[lng]" id="company_lng" value="" />
                </div>

                <div style="clear:both"></div>
            </div>
        </section>

        <section id="people">
            <h2>Целевая аудитория</h2>
            <div id="people-form-container" class="custom-radio">
                <div class="col-md-10 col-md-offset-1 form-row">
                    <div class="col-md-6">
                        <div class="col-md-3 label-container"><label>Возраст</label></div>
                        <div class="col-md-7 col-md-offset-1">
                            <div id="slider-age" style="margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4 label-container"><label>Группа посетителей</label></div>
                        <div class="col-md-6 col-md-offset-1 radio-group-row label-container ">
                            <input type="radio" name="people[group]" value="1" id="people_group_1" checked />
                            <label class="custom-radio-label" for="people_group_1">один</label>

                            <input type="radio" name="people[group]" value="2" id="people_group_2" />
                            <label class="custom-radio-label" for="people_group_2">пара</label>

                            <input type="radio" name="people[group]" value="3" id="people_group_3" />
                            <label class="custom-radio-label" for="people_group_3">много</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-md-offset-1 form-row">
                    <div class="col-md-6">
                        <div class="col-md-3 label-container"><label>Средний чек</label></div>
                        <div class="col-md-7 col-md-offset-1">
                            <div id="slider-price" style="margin-top: 10px;"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4 label-container"><label>Пол</label></div>
                        <div class="col-md-6 col-md-offset-1 radio-group-row label-container ">
                            <input type="radio" name="people[male]" value="1" id="people_male_1" checked />
                            <label class="custom-radio-label" for="people_male_1">М</label>

                            <input type="radio" name="people[male]" value="2" id="people_male_2" />
                            <label class="custom-radio-label" for="people_male_2">Ж</label>

                            <input type="radio" name="people[male]" value="3" id="people_male_3" />
                            <label class="custom-radio-label" for="people_male_3">М/Ж</label>
                        </div>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="section-border-bottom"></div>
        </section>

        <section id="rent">
            <h2>Аренда помещения</h2>
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group form-row">
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <input type="text" name="rent[price][min]" id="price_min" class="form-control" placeholder="Мин.цена">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <input type="text" name="rent[price][max]" id="price_max" class="form-control" placeholder="Макс.цена">
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div class="form-group form-row">
                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <input type="text" name="rent[area][min]" id="area_min" class="form-control" placeholder="Мин.площадь, м2">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group input-group-lg">
                            <input type="text" name="rent[area][max]" id="area_max" class="form-control" placeholder="Макс.площаль, м2">
                        </div>
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
            <div class="section-border-bottom" style="display: none"></div>
        </section>

        <section id="similar-companies">
            <h2>Конкуренты</h2>
            <div class="col-md-8 col-md-offset-2 custom-radio">
                <ul class="list-group" id="similar-companies-list"></ul>
                <div style="clear: both"></div>
            </div>
            <div style="clear: both"></div>
        </section>

        <section id="submit-section">
            <div class="submit-container">
                <button type="submit" class="btn">Рассчитать</button>
            </div>
        </section>
    </form>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ base_url() }}/assets/js/jquery.autocomplete.js"></script>
    <script src="{{ base_url() }}/assets/js/nouislider.min.js"></script>
    <script src="{{ base_url() }}/assets/js/app/form.js"></script>
{% endblock %}