{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <link href="{{ base_url() }}assets/css/app/map.css" rel="stylesheet" media="screen">
    <link href="{{ base_url() }}assets/css/nouislider.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div id="map"></div>

<div id="params-form-container" data-width="400">
    <div class="panel panel-default">
        <div class="panel-heading">
                <div class="col-md-6">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" href="#collapse1" id="menu"></a>
                    </h4>
                </div>
                <div class="col-md-6">
                    <div id="people-form-container">
                        <div class="radio-group-row">
                            <div class="col-md-4">
                                <input type="checkbox" name="calc_by_branches" value="1" id="calc_by_branches" checked/>
                                <label class="custom-radio-label" for="calc_by_branches" id="house">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 51 51.7">
                                        <path class="st12" d="M13,24.5h7c0.1,0,0.3,0.1,0.3,0.3V26c0,0.1-0.1,0.3-0.3,0.3h-6.8c-0.1,0-0.3-0.1-0.3-0.3V24.5L13,24.5z"/>
                                        <path class="st12" d="M13.2,29.2H20c0.1,0,0.3,0.1,0.3,0.3v1.2c0,0.1-0.1,0.3-0.3,0.3h-6.8c-0.1,0-0.3-0.1-0.3-0.3v-1.2
			                            C13,29.3,13.1,29.2,13.2,29.2z"/>
                                        <path class="st12" d="M13.2,34.1H20c0.1,0,0.3,0.1,0.3,0.3v1.2c0,0.1-0.1,0.3-0.3,0.3h-6.8c-0.1,0-0.3-0.1-0.3-0.3v-1.2
			                            C13,34.2,13.1,34.1,13.2,34.1z"/>
                                        <path class="st12" d="M13.2,38.9H20c0.1,0,0.3,0.1,0.3,0.3v1.2c0,0.1-0.1,0.3-0.3,0.3h-6.8c-0.1,0-0.3-0.1-0.3-0.3v-1.2
			                            C13,39,13.1,38.9,13.2,38.9z"/>
                                        <path class="st12" d="M25.6,15.2H37c0.1,0,0.3,0.1,0.3,0.3v1.2c0,0.1-0.1,0.3-0.3,0.3H25.8c-0.1,0-0.3-0.1-0.3-0.3V15.2L25.6,15.2
			                            z"/>
                                        <path class="st12" d="M25.6,20.8H37c0.1,0,0.3,0.1,0.3,0.3v1.2c0,0.1-0.1,0.3-0.3,0.3H25.8c-0.1,0-0.3-0.1-0.3-0.3V20.8L25.6,20.8
			                            z"/>
                                        <path class="st12" d="M25.6,26.5H37c0.1,0,0.3,0.1,0.3,0.3v1.2c0,0.1-0.1,0.3-0.3,0.3H25.8c-0.1,0-0.3-0.1-0.3-0.3V26.5L25.6,26.5
			                            z"/>
                                        <path class="st12" d="M40.8,44V9.6c0-0.4-0.4-0.8-0.8-0.8h-5.5c-0.4,0-0.8-0.4-0.8-0.8V6.2c0-0.4-0.4-0.8-0.8-0.8H22.8
                                        c-0.4,0-0.8,0.4-0.8,0.8v2.6v1.7v4.7c0,0.4-0.4,0.8-0.8,0.8h-8.7c-0.4,0-0.8,0.4-0.8,0.8v1.8c0,0.4-0.4,0.8-0.8,0.8h-0.6
                                        c-0.4,0-0.8,0.4-0.8,0.8v22.9c0,0.4-0.4,0.8-0.8,0.8H2.8c-0.3,0-0.5,0.2-0.5,0.5v0.6c0,0.3,0.2,0.5,0.5,0.5h6.7H22h1.7h3.7H35h5.8
                                        h6.7c0.3,0,0.5-0.2,0.5-0.5c0-0.2,0-0.5,0-0.6c0-0.3-0.2-0.5-0.5-0.5H40.8L40.8,44z M24.3,7.1h7.2c0.3,0,0.5,0.2,0.5,0.5v0.6
                                        c0,0.3-0.2,0.5-0.5,0.5h-7.2c-0.3,0-0.5-0.2-0.5-0.5V7.7C23.7,7.4,24,7.1,24.3,7.1z M14,17.8h7.2c0.3,0,0.5,0.2,0.5,0.5V19
                                        c0,0.3-0.2,0.5-0.5,0.5H14c-0.3,0-0.5-0.2-0.5-0.5v-0.6C13.5,18,13.7,17.8,14,17.8z M12,44c-0.4,0-0.8-0.4-0.8-0.8V21.2h0.5h9.5
                                        c0.4,0,0.8,0.4,0.8,0.8v21.1c0,0.4-0.4,0.8-0.8,0.8H12z M29.1,43.2v-3.5c0-0.4,0.4-0.8,0.8-0.8h2.5c0.4,0,0.8,0.4,0.8,0.8v3.5
                                        c0,0.4-0.4,0.8-0.8,0.8h-2.5C29.5,44,29.1,43.6,29.1,43.2z M34.9,44v-6c0-0.4-0.4-0.8-0.8-0.8h-6c-0.4,0-0.8,0.4-0.8,0.8v5.2
                                        c0,0.4-0.4,0.8-0.8,0.8h-2.1c-0.4,0-0.8-0.4-0.8-0.8V19.5v-8.1c0-0.4,0.4-0.8,0.8-0.8h9.2h4.6c0.4,0,0.8,0.4,0.8,0.8v31.8
                                        c0,0.4-0.4,0.8-0.8,0.8H34.9L34.9,44z"/>
                                    </svg>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="calc_by_people" value="2" id="calc_by_people" checked/>
                                <label class="custom-radio-label" for="calc_by_people">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 51 51.7"><path class="st13" d="M21,20.7c-2.9,1.1-2.9,1.1-2.6,3.7c0.1,0.6,0.1,1.3,0.1,1.9c0,1.1-0.7,1.7-1.8,1.8c-1.1,0.1-1.8-0.5-2-1.5
                                    c-0.3-1.8-0.6-3.7-0.7-5.6c-0.1-0.9,0.4-1.4,1.2-2c4.2-3.2,9.1-3.5,14.1-3.1c1.4,0.1,2.2,1.3,3.1,2.2c0.9,0.9,1.6,1.1,2.6,0.2
                                    c0.6-0.6,1.3-1.1,2-1.5c1-0.5,1.9-0.4,2.6,0.5c0.7,0.9,0.6,1.9-0.2,2.5c-1.6,1.3-3.4,2.6-5.1,3.7c-1,0.7-1.7-0.2-2.5-0.7
                                    c-0.5-0.4-1-1.3-1.5-1c-0.7,0.3-0.3,1.3-0.3,1.9c-0.1,1.8,0.1,3.5-0.1,5.3c-0.2,1.8,0.3,3.1,2,3.9c4.5,2.1,5.6,6.4,6.8,10.5
                                    c0.4,1.4-0.1,2.5-1.4,3c-1.3,0.5-2.4,0-3-1.3c-0.6-1.2-1-2.4-1.4-3.6c-0.5-1.6-1.2-2.9-2.7-3.7c-0.4-0.2-0.8-0.6-1.1-0.8
                                    c-3.2-2.4-3.6-2.5-5.1,1.1c-1.9,4.7-6.3,5-10.1,6.4c-1.2,0.5-2.3-0.5-2.6-1.8c-0.4-1.3,0.2-2.3,1.4-2.9c1.2-0.6,2.5-1.1,3.8-1.4
                                    c1.3-0.4,2-1.1,2.7-2.2c1.5-2.6,2.3-5.3,2-8.3C20.9,25.5,21,23.2,21,20.7z"/><path class="st13" d="M29.9,10.4c0,2.5-2,4.4-4.5,4.4c-2.4,0-4.3-2-4.4-4.4c0-2.5,1.9-4.5,4.5-4.4C28,5.9,29.9,7.8,29.9,10.4z"/>
                                    </svg>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="checkbox" name="calc_by_house" value="3" id="calc_by_house" checked/>
                                <label class="custom-radio-label" for="calc_by_house">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 51 51.7"><path class="st13" d="M41.9,39.6c0,0.5,0.1,0.9-0.3,1.3c-0.3,1.2-1.4,1.1-2.3,1.1c-5,0-10,0-14.9,0c-4.7,0-9.4-0.1-14.1-0.1
                                    c-0.8-0.1-1.3-0.5-1.4-1.4c-0.3-3-0.2-6,0-9c0.6-1.9,1.9-2.8,3.8-2.5c1.9,0.3,3.8,0.7,5.7,1.1c1.5,0.3,2,1.4,2,2.8
                                    c0,1.9,0.3,2.2,2.3,2.2c1.9,0,3.8,0,5.6,0c1.3,0,1.8-0.6,1.9-1.9c0.2-2.5,0.6-3,3-3.4c1.4-0.3,2.8-0.5,4.1-0.8
                                    c2.7-0.5,4.4,0.9,4.5,3.6C41.9,35.1,41.9,37.3,41.9,39.6z"/>
                                        <path class="st13" d="M28.3,29.9c0,3.7,0.3,3.3-3.4,3.3c-0.5,0-1,0-1.5,0c-0.4,0-0.8-0.2-0.8-0.6c0-2.2-0.6-4.5,0.1-6.7
                                    c1.7-0.5,3.5-0.4,5.2,0C28.5,27.2,28.3,28.6,28.3,29.9z"/>
                                        <path class="st13" d="M43.3,19.6c0-1.9-0.6-2.5-2.5-2.6c-2.1,0-4.1-0.1-6.2,0c-1,0-1.2-0.3-1.2-1.2c0.1-1.1,0-2.3,0-3.4
                                    c0-0.9-0.3-1.8-1.4-2c-0.5-0.3-1.1-0.2-1.6-0.2c-3.2,0-6.5,0-9.7,0c-0.6,0-1.3-0.1-1.9,0.2c-1.3,0.2-1.5,1.1-1.6,2.2
                                    c-0.1,1.1-0.1,2.2,0,3.2c0,0.9-0.2,1.2-1.2,1.2c-2.1-0.1-4.2-0.1-6.3,0c-1.7,0-2.2,0.6-2.3,2.3c0,1.4,0,2.7,0,4.1
                                    c0.1,1.8,1,3,2.8,3.4c2.3,0.5,4.7,0.9,7.1,1.1c2,0.2,2.9-0.5,3.2-2.5c0.2-1,0.7-1.5,1.7-1.5c2.1,0,4.2,0,6.3,0
                                    c1.1,0,1.6,0.4,1.8,1.5c0.3,2,1.2,2.6,3.2,2.5c2.3-0.2,4.7-0.6,6.9-1.1c1.8-0.4,2.8-1.6,2.9-3.5C43.3,22.1,43.3,20.9,43.3,19.6z
                                     M20.2,17.2c-0.7-4.1-0.5-4.5,3.6-4.5c1.7,0,3.5,0,5.2,0c1.1,0,1.7,0.4,1.6,1.6c0,0.9,0,1.9,0,2.8C27.1,17.1,23.7,17.2,20.2,17.2z
                                    "/>
                                    </svg>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">{% include 'map/form.html' %}</div>
        </div>

        {% for point in heatmap %}
            <input type="hidden" class="js-heatmap-point" value="{{ point.value }}" data-lat="{{ point.lat }}" data-lng="{{ point.lon }}" />
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ base_url() }}/assets/js/nouislider.min.js"></script>
    <script src="{{ base_url() }}assets/js/app/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&libraries=visualization&callback=App.Map.init"></script>
{% endblock %}