<div class="house-info">
    <h2 class="address">
        {{ house['params']['house_addresses'][0]['street']['abbr_raw_ru'] }}. {{ house['params']['house_addresses'][0]['street']['name_raw_ru'] }}, {{ house['params']['house_addresses'][0]['house_number'] }}
    </h2>
    <div class="info-block">
        <div class="price">
            {{ house['params']['price_per_sqm'] }} р/м2
        </div>
        <div class="text-block">
            {{ house['params']['type']['title'] }}, площадь - {{ house['params']['total_area'] }} м2
        </div>
        <div class="img-block">
            <img src="https://cdn.n1.ru/{{ house['main_photo']['url_mask']|replace({'%w': '_150', '%h': '_300', '%t': ''}) }}" />
        </div>
    </div>
</div>